{% load heroicons %}

{% if status == 'success' %}
{% heroicon_outline 'check-circle' class="h-5 w-5 shrink-0 text-green-600" %}
{% elif status == 'failed' %}
{% heroicon_solid 'x-circle' class="h-5 w-5 shrink-0 text-red-600" %}
{% elif status == 'pending' %}
<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 shrink-0 text-gray-600" viewBox="0 0 24 24">
  <circle cx="4" cy="12" r="3" fill="currentColor">
    <animate id="svgSpinners3DotsBounce0" attributeName="cy" begin="0;svgSpinners3DotsBounce1.end+0.25s"
      calcMode="spline" dur="0.6s" keySplines=".33,.66,.66,1;.33,0,.66,.33" values="12;6;12" />
  </circle>
  <circle cx="12" cy="12" r="3" fill="currentColor">
    <animate attributeName="cy" begin="svgSpinners3DotsBounce0.begin+0.1s" calcMode="spline" dur="0.6s"
      keySplines=".33,.66,.66,1;.33,0,.66,.33" values="12;6;12" />
  </circle>
  <circle cx="20" cy="12" r="3" fill="currentColor">
    <animate id="svgSpinners3DotsBounce1" attributeName="cy" begin="svgSpinners3DotsBounce0.begin+0.2s"
      calcMode="spline" dur="0.6s" keySplines=".33,.66,.66,1;.33,0,.66,.33" values="12;6;12" />
  </circle>
</svg>
{% elif status == 'processing' %}
<svg xmlns="http://www.w3.org/2000/svg" class="animate-spin h-5 w-5 shrink-0 text-gray-600" viewBox="0 0 24 24">
  <circle cx="12" cy="2.5" r="1.5" fill="currentColor" opacity=".14" />
  <circle cx="16.75" cy="3.77" r="1.5" fill="currentColor" opacity=".29" />
  <circle cx="20.23" cy="7.25" r="1.5" fill="currentColor" opacity=".43" />
  <circle cx="21.5" cy="12" r="1.5" fill="currentColor" opacity=".57" />
  <circle cx="20.23" cy="16.75" r="1.5" fill="currentColor" opacity=".71" />
  <circle cx="16.75" cy="20.23" r="1.5" fill="currentColor" opacity=".86" />
  <circle cx="12" cy="21.5" r="1.5" fill="currentColor" />
</svg>
{% endif %}
